@import url("photographer.css");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 100px 0;
}

.photographer_section article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photographer_section article div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 35px;
  margin: 10px 0 0 0;
}

.photographer_section article p {
  font-size: 15px;
  font-weight: 700;
  color: #901c1c;
  margin: 2px;
}

.photographer_section article span {
  font-size: 13px;
  color: #000;
  margin: 2px;
}

.photographer_section article div {
  font-size: 11px;
  color: #525252;
  margin: 2px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 1px 1px 10px #c4c4c4;
}

.photograph-header {
  background-color: #fafafa;
  margin: 0 5% 0 5%;
  padding: 30px 0 30px 0;
}

.photograph-header section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photograph-header section h1 {
  color: #d3573c;
  font-size: 54px;
  font-weight: normal;
}

.photograph-header section p {
  color: #901c1c;
  font-size: 24px;
  margin: 15px 0 30px 0;
}

.photograph-header section span {
  color: #525252;
  font-size: 18px;
}

.photograph-header section img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px #c4c4c4;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: auto 0;
}

#trier {
  display: flex;
  height: 80px;
  padding: 10px 0 0 120px;
}

#listbox-label {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

#listbox-container {
  background-color: #901c1c;
  display: flex;
  align-items: center;
  color: white;
  font-size: 19px;
  font-weight: 800;
  border-radius: 5px;
  min-height: 50px;
  width: 150px;
  cursor: pointer;
  padding-left: 10px;
}
